
.about-page
  %section.main-about
    .anim-main-block
      .text-block
        %h1 Хороший магазин парфюмерии всегда найти не легко
  %section.second
  %section.third
    .center-text-block
      %h3 Заказывайте лучший аромат этого сезона
      =link_to 'Коллекция ароматов', catalog_path, class: 'catalog-button'
  =render partial: 'static/flags'

