.flag-div
  =link_to '', params.merge({locale: 'ru'}), class: 'flag-button flag_ru'
  =link_to '', params.merge({locale: 'by'}), class: 'flag-button flag_by'
  =link_to '', params.merge({locale: 'en'}), class: 'flag-button flag_en'
