-@cart.line_items.includes(:product).each do |line_item|
  %li.cart-item{id: "#{'current' if line_item == @current_item}", data: {quantity: line_item.quantity}}
    =image_tag(line_item.product.product_attachments.first.image_url(:thumb), class: 'thumb-cart')
    .item-info
      .title
        =link_to line_item.product.title, product_path(line_item.product)
      .quantity-block
        =link_to '-', decrease_line_item_path(line_item.id), method: :post, remote: true, class: 'decrease-button'
        .quantity
          =line_item.quantity
        =link_to '+', increase_line_item_path(line_item.id), method: :post, remote: true, class: 'increase-button'
      .options
      .price
        = number_to_currency(line_item.subtotal_price)
    =link_to '', line_item_path(line_item), method: :delete, remote: true, class: 'remove'
