.animated.fadeIn
  .sign-in-component
    .welcome
      = t('login.welcome')
    %h1
      = t('login.please_enter')
    .form
      =form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .field.email
          =f.label t('login.email_adress'), :for => 'form-email'
          =f.email_field :email, :autofocus => true, :id => 'form-email'
        .field.email
          =f.label t('login.password'), :for => 'form-email'
          =f.password_field :password, :autofocus => true, :id => 'form-password'
        =f.submit t('login.button'), class: 'btn btn-primary btn-submit'
        %p.notice= notice #TODO: удалить эти штуковины.
        %p.alert= alert
=render partial: 'static/flags'
