!!!
%html
  %head
    %title Shop1
    = stylesheet_link_tag    'application', media: 'all'
    = csrf_meta_tags
  %body.body{:data_page => 'index'}
    =render partial: 'static/header'
    #render-page
      =render partial: 'static/cart'
      = yield
    = javascript_include_tag 'application'